<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'> 
    <li><a class='nav-link' [routerLink]="['/welcome']">Home</a></li>
    <li><a class='nav-link' [routerLink]="['/products']">Product List</a></li>
  </ul>
</nav>
<div class='container'>
    <router-outlet></router-outlet>
</div>
<mat-checkbox 
  #showDetails
  (change)="onChange($event)"
  >Show details</mat-checkbox>

  <div *ngIf="showDetails.checked"> Here are details about...</div>

  <div class="RadioButtonContainer">
    <h5>Basic mat-radio-button</h5>
      <mat-radio-group>
        <ul class="list-unstyled">  
          <li><mat-radio-button value="1" [checked]='isChecked'>Silver</mat-radio-button></li>
          <li><mat-radio-button value="2">Gold</mat-radio-button></li>
        </ul> 
        </mat-radio-group>
  </div>
  <div>
    <h5>Basic mat-select/options</h5>
    <mat-form-field>
      <mat-select placeholder="Select color" >
          <mat-option 
          *ngFor="let color of colors" 
           value="color.id">{{color.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <div>
    <h5>Basic mat-inputs</h5>
    <form class="example-form">
      <div>
      <mat-form-field class="full-width">
        <input matInput placeholder="What is on your mind?" >
      </mat-form-field>
    </div>
      <div>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </div>
    </form>
  </div>

